---
import { Image } from 'astro:assets';
import { css } from '../../styled-system/css';
import { hstack, vstack } from '../../styled-system/patterns';

import TextPrimary from './text-primary.astro';
import Title from './title.astro';

import Mouse from './mouse.astro';
import Photo from '../assets/photo-cartoon.webp';
---

<header
  class={css({
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    gap: '5',
    width: '100%',
    height: '100%',
    padding: '5',
    backdropFilter: 'blur(100px)',
    md: {
      display: 'grid',
      gridTemplateColumns: 'repeat(12, 1fr)',
      gap: '3',
      padding: 0,
    },
  })}
>
  <div
    class={css({
      gridColumn: '1 / -1',
      md: { order: '1', gridColumn: '9 / 12' },
      xl: { gridColumn: '8 / 10' },
    })}
  >
    <Image
      src={Photo}
      alt="Ronald Ruzicka cartoon avatar"
      class={css({
        borderRadius: 'full',
        overflow: 'hidden',
      })}
    />
  </div>
  <div
    class={hstack({
      gap: '2',
      gridColumn: '1 / -1',
      md: { gridColumn: '2 / 9' },
      xl: { gridColumn: '3 / 8' },
    })}
  >
    <div class={vstack({ gap: '4', alignItems: 'start' })}>
      <p>
        <TextPrimary>&lt;span&gt;</TextPrimary>Hey👋, I'm Ronald<TextPrimary
          >&lt;/span&gt;</TextPrimary
        >
      </p>
      <Title>
        Senior <TextPrimary>&lt;Frontend&gt;</TextPrimary> developer
      </Title>
      <p class={css({ textWrap: 'balance' })}>
        <TextPrimary>&lt;p&gt;</TextPrimary>With 9 years of experience in <TextPrimary
          >React</TextPrimary
        > and <TextPrimary>TypeScript</TextPrimary>, now exploring <TextPrimary>Svelte</TextPrimary>
        and <TextPrimary>Deno</TextPrimary> to push web development further.<TextPrimary
          >&lt;p&gt;</TextPrimary
        >
      </p>
    </div>
  </div>
  <Mouse />
</header>
