---
import '../styles/index.css';
import { css } from '../../styled-system/css';

import backgroundSvg from '../assets/background.svg';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&family=Sora:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ronald Ruzicka personal website</title>
  </head>
  <body
    class={css({
      backgroundSize: 'cover',
      backgroundPosition: 'center',
      backgroundRepeat: 'no-repeat',
    })}
  >
    <slot name="header" />
    <main>
      <slot name="content" />
    </main>
  </body>
</html>

<style define:vars={{ bgImage: `url(${backgroundSvg.src})` }}>
  body {
    background-image: var(--bgImage);
  }
</style>
